@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
	font-family: "Minecraft";
	src: url("/fonts/minecraft-font.woff2") format("woff2"), url("/fonts/minecraft-font.woff") format("woff"),
		url("/fonts/minecraft-font.woff2") format("otf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Geist, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

body {
	@apply bg-zinc-50 dark:bg-zinc-950 dark:text-zinc-50;
}

.link {
	@apply text-blue-500 dark:text-blue-300;
}

.info-child {
	@apply bg-white dark:bg-zinc-900 px-2 py-1 rounded shadow-xl w-fit border border-zinc-200 dark:border-zinc-800;
}
